# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Prisma
prisma/migrations/
.env.local
.env.*.local

# Production
dist/

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.*.local

# Cache
.eslintcache
# Local Prisma dev database
prisma/prisma/dev.db
